.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: blue;
}

/* Optional addition for styling the username */
.Username {
  margin-left: 8px;
  font-weight: 500;
  color: #333;
}
