.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: blue;
}

/* Optional addition for styling the username */
.Username {
  margin-left: 8px;
  font-weight: 500;
  color: #333;
}

.Notification {
  position: fixed;
  top: 60px; /* Just below the navbar */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  max-width: 300px;
  width: 100%;
  text-align: center;
  background-color: #d1ecf1; /* Light blue background */
  color: #0c5460; /* Darker blue text for better readability */
  border: 1px solid #bee5eb; /* Light blue border */
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
